.typewriter {
    animation:
        writer 8s steps(25, end) infinite,
        blink 0.5s step-end infinite;
}

@keyframes writer {
    10% {
        width: 0%;
    }

    20% {
        width: 100%;
    }

    80% {
        width: 100%;
    }

    90% {
        width: 0%;
    }
}

@keyframes blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--orange);
    }
}

.show {
    transition: 0.2s opacity linear;
    opacity: 1 !important;
}

